.head_index{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #4f4f4f;
}

.card_main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_user{
    margin-top: 20px;
    width: 800px;
    background-color: #4f4f4f;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}
mat-form-field{
    width: 350px;
}

button{
    background-color: #5ac8fa;
}